* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #080325;
}
/* Header */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: rgb(8, 3, 37, .5);
    transition: 0.6s;
}
header .fixed {
    padding: 5px 20px;
    background: #080325;
}
.logo {
    font-size: 2em;
    color: white;
    cursor: pointer;
}
.navigation a {
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    margin: 0 10px;
    font-weight: 600;
}
.navigation a:hover {
    color: rgb(230, 110, 110);
}
.nav1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navleft {
    list-style: none;
    display: flex;
}
.navright {
    list-style: none;
    display: flex;
}

/* Intro */

#intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: rgba(8,3,37,.55);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    transition: all 10ms linear;
}
#intro .textintro {
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.introcontainer {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#intro .imagecontainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#intro .image img{
    width: 100%;
}
.introcontainer h2 {
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 3rem;
}
.introcontainer p {
    width: 700px;
    font-size: 21px;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
}
.demobtn {
    padding: 15px 40px;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #d92b4c;
    outline: 0;
    box-shadow: none;
    background: #d92b4c;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
.purchasebtn {
    padding: 15px 40px;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    outline: 0;
    box-shadow: none;
    background: 0 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
.purchasebtn:hover {
    background: #d92b4c;
    border: 2px solid #d92b4c;
}

/* Demo */

#demo {
    position: relative;
    background: #080325;
    padding: 80px;
}
#demo .colfeat h3{
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
#demo .colfeat .featpara{
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
#demo .demotext {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.features {
    display: flex;
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.featgroup {
    width: 33.33333333%;
    position: relative;
    margin-bottom: 3rem;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
}
.skew .skewgroup {
    height: 100%;
    top: 0%;
    left: -30px;
    right: -20px;
    background: rgba(34, 26, 78, 0.9);
    transform: skew(-6deg,0deg);
    padding: 20px 20px;
    transition: 0.6s;
}
.skew .skewgroup:hover {
    background: rgba(48, 37, 107, 0.9);
}
.demotext {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
}
.gamecontainer {
    width: 970px;
    margin: 0 auto;
}
.gamelist {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
.gamelist > .game{
    flex: 0 48%;
}
.gamelist > .game img{
    max-width: 100%;
}
.gamelist .game div {
    display: flex;
    margin: auto;
    margin: 20px;
    align-items: baseline;
    text-align: center;
}
.game h4 {
    color: #fff;
}
.game small {
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    color: #777;
}

/* Banner */

#banner {
    position: relative;
    padding: 80px;
    overflow: hidden;
    background: rgba(8,3,37,.55);
}
.textbanner {
    position: relative;
    margin-top: 60px;
    margin-bottom: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.bannersec {
    position: relative;
    display: flex;
    padding: 40px;
    margin-right: auto;
    margin-left: auto;
}
.bannergroup {
    width: 33.33333333%;
    position: relative;
    margin-bottom: 3rem;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
}
.skew .skewbanner {
    height: 100%;
    top: 0%;
    left: -30px;
    right: -20px;
    background: rgba(34, 26, 78, 0.3);
    transform: skew(-6deg,0deg);
    padding: 20px 20px;
    transition: 0.6s;
    color: white;
}
.skew .skewbanner:hover {
    background: rgba(48, 37, 107, 0.9);
}
#banner .imagecontainer{
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 167px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

/* Question */

#question {
    position: relative;
    background: #080325;
    padding: 80px;
}
#question .quescontainer h2{
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    margin-bottom: 2.5rem;
}
#question .quescontainer .lead{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
#question .quescontainer a{
    text-decoration: underline;
    transition: .3s color ease;
    color: white;
}
#question .quescontainer a:hover{
    color: #d92b4c;
}

/* Purchase */

#purchase {
    position: relative;
    padding: 160px;
    overflow: hidden;
    text-align: center;
    background: rgba(8,3,37,.65);
}
#purchase .imagecontainer{
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: -747px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}
#purchase .textpurchase{
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    margin-bottom: 2.5rem;
}
#purchase .date{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
#purchase a{
    text-decoration: underline;
    transition: .3s color ease;
    color: white;
}
#purchase a:hover{
    color: #d92b4c;
}

/* Footer */

#footer {
    position: relative;
    overflow: hidden;
    text-align: center;
    background: rgba(8,3,37,.45);
}
#footer .imagecontainer{
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 300px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    display: flex;
}
#footer .wrapper {
    position: relative;
    background-size: cover;
}
#footer .social {
    padding-top: 8rem;
    padding-bottom: 8rem;
    text-align: center;
    overflow: hidden;
}
#footer .social .socialcontainer {
    position: relative;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#footer .social h3 {
    margin-top: 0;
    margin-bottom: 4rem;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
}
#footer .social .socialicons {
    margin: 0 auto;
    margin-bottom: -4rem;
}
#footer .social .socialicons .socialicon {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}
#footer .skew  {
    height: 100%;
    top: 0%;
    left: -30px;
    right: -20px;
    background: rgba(34, 26, 78, 0.3);
    transform: skew(-6deg,0deg);
    padding: 20px 20px;
    transition: 0.6s;
}
#footer .skew:hover {
    background: rgba(48, 37, 107, 0.9);
}
#footer a {
    display: inline-block;
    padding: 25px 43px;
    color: white;
    text-decoration: none;
    transition: .3s color ease;
}
#footer i {
    position: relative;
    font-size: 5rem;
    z-index: 0;
    overflow: visible;
    vertical-align: -0.125em;
}
#footer span {
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    left: 0;
    margin-top: 5px;
    margin-left: -10px;
}
#footer .copyright {
    position: relative;
    padding: 30px 10px;
    text-align: center;
    background: rgba(8,3,37,.7);
}
#footer .copyright .copycontainer {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#footer p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
}



/*Additional CSS by Joseph*/
html {
    scroll-behavior: smooth;
  }
  
.container{
    max-width: 1080px;
    width: 90%;
    display: block;
    margin: 0 auto;
}

#footer .imagecontainer > img{
    width: 100%;
}